@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Open+Sans&family=Roboto&display=swap');

body {
    font-family: 'Open sans', sans-serif;
    color: #4E4351;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

.border-styling {
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 4px 2px #B0A8B9;
}

/* Headings and Logo*/

header {
    background-color: rgb(254,254,223, .5);
    overflow: hidden;
}

h1, h2 {
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#4E4351;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    color: #4E4351;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and text */

#hero-section {
    height: 425px;
    width: 100%;
    overflow: hidden;
    background: rgb(151,102,170, .5);

    position: relative;
}

.hero-section {
    display:flex;
    justify-content: space-between;
    }

#hero-image {
    height: 500px;
    width: 50%;
    background: url(../images/hero_image_cat.jpg) no-repeat;
}

#hero-head-text, #hero-text-left, #hero-text-right {
    padding: 50px 0 0 30px;
}

#hero-head-text h1, h2 {
    font-size: xx-large;
}

ul, li {
    margin-left: 30px;
    font-weight: lighter;
    font-size: large;
}

li {
    margin: 5px 0;
  }

  /* video section*/

  .video-section {
    height: 700px;
    width: 100%;
    padding-bottom: 25px;
    overflow: hidden;
    background: rgb(254,254,223, .5)
}

#video-header, #video-player {
    padding-top: 50px;
    padding-left: 30px;
    font-size: x-large;
    text-align: center;
}

/* Why choose us? section*/

#why-section {
    height: 350px;
    width: 100%;
    overflow: hidden;
    background: rgb(151,102,170, .5);

    position: relative;
}

#why-head-text {
    font-size: x-large;
    text-align: center;
    padding-top: 15px;
}

#icons {
    height: 150px;
}

#icons-text {
    height: 150px;
}

.icons {
    display: inline-block;
    margin: 30px;
    padding: 30px 100px 0 60px;
    text-align: center;
}

.icons-text {
    display: inline-block;
    margin: 30px;
    padding: 20px 100px 0 45px;
    text-align: center;
}

/* About Us section */

#about-us-section {
    /*clear: left*/
    background: rgb(151,102,170, .5);
    height: 2000px;
}

#about-us-section h1 {
    padding-top: 15px;
    font-size: xx-large;
    text-align: center;
}

/*.about-us-section {
    display:flex;
    justify-content: space-between;
}*/

.text-box {
        width: 60%;
        height: 325px;
        margin: 20px auto;
        padding: 0 15px 0 15px;
        background:rgb(254,254,223);
        font-size: smaller;
        text-align: center;
}

#about-image {
    margin: 20px auto;
    padding: 30px;
    background: url(../images/about\ us\ _image_3\ cats\ on\ wood\ floor.jpg) center no-repeat;
    width: 600px;
    height: 350px;
    text-align: center;
}

#testimonials-image {
    margin: 20px auto;
    padding: 30px;
    background: url(../images/testimonials_image_gingercat.jpg) center no-repeat;
    width: 625px;
    height: 350px;
    text-align: center;
}

/* Prices Page */

.prices-section {
    clear: left;
    background: rgb(151,102,170, .5);
    height: 1100px;
}

.prices-box {
    width: 66%;
    height: 500px;
    margin: 20px auto;
    padding: 30px;
    background:rgb(254,254,223);
    font-size: smaller;
    text-align: center;
}


#prices-table h1 {
        font-size: xx-large;
        text-align: center;
}

#prices-table h2 {
    padding-top: 15px;
}


table {
	width: 70%;
}

tr {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

tr, th, td {
	text-align: left;
    color: #4E4351;
}

th, td {
	border: 1px solid rgb(151,102,170, .5);
	padding: 5px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

#prices-image {
    margin: 20px auto;
    margin-top: 30px;
    background: url(../images/prices_page_image.jpg) center no-repeat;
    width: 592px;
    height: 395px;
    text-align: center;
}











/* Form */

.form-section {
    clear: left;
    background: rgb(151,102,170, .5);
    height: 1000px;
}

.signup-form {
    margin-top:100px;
    color: #4E4351;
    background-color: rgb(254,254,223, .7);
    max-width: 400px;
    position: absolute;
    right: 10%;
    padding: 30px;
}

.signup-form h2 {
    color: #4E4351;
    margin-bottom: 20px;
}

.text-input  {
    background: transparent; 
    color: #4E4351;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #4E4351;
    border-radius: 2px;
    
}

.text-input:hover{
    border-color: #008E9B;
} 

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #008E9B;
    color: #fafafa;
    display: block;
}

.submit-button:hover {
    background-color: #008E9B;
    color: #4E4351;
}

.dates-header {
    margin: 5px 0 20px 0;
}

.dates {
    background-color: transparent;
    font-family: inherit;
    color: #4E4351;
    border: 0.5px solid #4E4351;
    border-radius: 1px;
    width: 50%;
    margin: 5px 0 20px 0;
}

.dates:hover {
    border-color: #008E9B;
}

.message {
    background: transparent;
    border: 1px solid #4E4351;
    border-radius: 2px;
    padding: 10px;
    line-height: 1.5;
    font-family: inherit;
    color: #4E4351;
    text-align: left;
    width: 95%;
    margin: 5px 0 20px 0;
}

#contact-image {
    background: url(../images/contact_image_whitecat.jpg) center center no-repeat;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 4px 2px #B0A8B9;
    height: 754px;
    width: 503px;
    margin-top: 150px;
    margin-left: 10%;
}

/* Confirmation Page */

#confirmation-section {
    /*clear: left;*/
    background: rgb(151,102,170, .5);
    height: 1100px;
}

.confirmation-section {
    width: 100%;
    height: 500px;
    margin: auto;
    padding: 30px;
    background:rgb(254,254,223);
    font-size: smaller;
    text-align: center;
}

#confirmation-text {

}

#confirmation-text h1 {
    font-size: xx-large;
    text-align: center;
}

.confirmation-box {
    width: 66%;
    height: 500px;
    margin: 20px auto;
    padding: 30px;
    background:rgb(254,254,223);
    font-size: smaller;
    text-align: center;
}

#confirmation-image {
        margin: 20px auto;
        margin-top: 30px;
        background: url(../images/confirmation_page_image.jpg) center no-repeat;
        width: 592px;
        height: 395px;
        text-align: center;
    }

.confirmation-image {

}




/* Footer */

footer {
    height: 150px;
    background: rgb(254,254,223, .5);
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #4E4351;
}