@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Open+Sans&family=Roboto&display=swap');

body {
    font-family: 'Open sans', sans-serif;
    color: #4E4351;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

.hero-section, .video-section, .testimonials-section, .placeholder-section, .about-us-section, .why-section, .form-section {
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 4px 2px #B0A8B9;
}

/* Headings and Logo*/

header {
    background-color: rgb(254,254,223, .5);
    overflow: hidden;
}

h1, h2 {
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#4E4351;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    color: #4E4351;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and text */

#hero-section {
    height: 425px;
    width: 100%;
    overflow: hidden;
    background: rgb(151,102,170, .5);

    position: relative;
}

.hero-section {
    display:flex;
    justify-content: space-between;
    }

#hero-image {
    height: 500px;
    width: 50%;
    background: url(../images/hero_image_cat.jpg) no-repeat;
}

#hero-head-text, #hero-text-left, #hero-text-right {
    padding: 50px 0 0 30px;
}

#hero-head-text h1, h2 {
    font-size: xx-large;
}

ul, li {
    margin-left: 30px;
    font-weight: lighter;
    font-size: large;
}

li {
    margin: 5px 0;
  }

  /* video section*/

  #video-section {
    height: 700px;
    width: 100%;
    padding-bottom: 25px;
    overflow: hidden;
    background: rgb(254,254,223, .5)
}

#video-header, #video-player {
    padding-top: 50px;
    padding-left: 30px;
    font-size: x-large;
    text-align: center;
}

/* Why choose us? section*/

#why-section {
    height: 350px;
    width: 100%;
    overflow: hidden;
    background: rgb(151,102,170, .5);

    position: relative;
}

#why-head-text {
    font-size: x-large;
    text-align: center;
    padding-top: 15px;
}

#icons {
    height: 150px;
}

#icons-text {
    height: 150px;
}

.icons {
    display: inline-block;
    margin: 30px;
    padding: 30px 100px 0 60px;
    text-align: center;
}

.icons-text {
    display: inline-block;
    margin: 30px;
    padding: 20px 100px 0 45px;
    text-align: center;
}

/*About Us section*/

#about-us-section {
    height: 425px;
    width: 100%;
    overflow: hidden;
    background: rgb(151,102,170, .5);

    position: relative;
}

.about-us-section {
    display:flex;
    justify-content: space-between;
}

#about-us-image {
    height: 500px;
    width: 50%;
    background: url(../images/about\ us\ _image_3\ cats\ on\ wood\ floor.jpg) no-repeat;
}

#about-us-text {
    width: 50%;
    padding: 0 15px 0 15px;
    text-align: center;
}

#about-us-section h1 {
    padding-top: 15px;
    font-size: xx-large;
    text-align: center;
}

/* Benefits section */

#benefits-section {
    height: 350px;
    width: 100%;
    overflow: hidden;
    background: rgb(254,254,223, .5);
}

#benefits-text {
    text-align: center;
    padding: 0 15px 0 15px;
}

#benefits-section h1 {
    font-size: xx-large;
    text-align: center;
    padding-top: 15px;
}


/* testimonials section*/

#testimonials-section {
    height: 500px;
    width: 100%;
    overflow: hidden;
    background: rgb(151,102,170, .5);

    position: relative;
}

.testimonials-section {
    display:flex;
    justify-content: space-between;
    }

#testimonials-image {
    height: 1000px;
    width: 50%;
    background: url(../images/testimonials_image_gingercat.jpg) no-repeat;
}

#testimonials-header {
    padding-top: 15px;
    width: 60%;
}

#testimonials-header h1 {
    font-size: xx-large;
    text-align: center;
}

#testimonials-header > p {
    font-weight: lighter;
    text-align: center;
    padding: 0 15px 0 15px;
}








/* Form */

.form-section {
    clear: left;
    background: rgb(151,102,170, .5);
    height: 800px;
}

.signup-form {
    margin-top:150px;
    color: #4E4351;
    background-color: #B0A8B9;
    max-width: 400px;
    position: absolute;
    right: 10%;
    padding: 30px;
}

.signup-form h2 {
    color: #4E4351;
    margin-bottom: 20px;
}

.text-input {
    background: transparent; 
    color: #4E4351;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    
}

.text-input:hover{
    border-color: #f16c6b;
} 

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

