@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Open+Sans&family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #4E4351;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Headings and Logo*/

header {
    padding-bottom: 50px;
}

h1, h2 {
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#4E4351;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    color: #4E4351;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}
/*
.active {
    border-bottom: 1px solid #3a3a3a;
}
*/

/* hero image */

#hero-container {
    height: 400px;
    width: 100%;
    overflow: hidden;
    background: rgb(151,102,170, .5);

    position: relative;
}

#hero-image {
    height: 450px;
    width: 50%;
    float: right;
    background: url(../images/hero_image_cat.jpg) no-repeat;
}

#hero-text-left {
    font-size:x-large;
    font-weight: 900;
    padding-top: 50px;
    margin-left: 30px;
}

#hero-text-left h2 {
    font-size: larger;
    padding-bottom: 10px;
}

ul, li {
    margin-left: 30px;
    font-weight: lighter;
    font-size: large;
}

#hero-text-right {
    float: right;
}